body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    height: 10%;
    width: 100%;

}
main,section{
    height:70%;
    width: 100%;
    padding: 15px;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(78, 79, 183);
    color :aqua
}
#searchbar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 15px 35px;
   
   
   
}
#logo{
    padding: 10px 25px;
}
#searchbar a{
    text-decoration: none;
    color: aqua;
    margin: 15px 25px;
    font-weight: bold;
    font-size: larger;
   

    

}
#searchbox{
    height: 3rem;
    width:20rem;
    font-size: larger;
}
#category {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0;
}

#category button {
    border: 1.5px solid black;
    height: 35px;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}


#category button:hover {
    background-color: rgb(78, 79, 183);
    color: aqua;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    height:24rem;
    width: 20rem;
    border: 1.5px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.pic {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 10px;
}

.readmore  {
    padding: 6px 12px;
    border: none;
    background-color: rgb(78, 79, 183);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
   
}

.catactive{
    background-color: rgb(78, 79, 183);
    color: aqua;
}
.loader{
    height :60px;
    width: 60px;
    border-radius: 50%;
    border: 5px solid rgb(177, 175, 175);
    border-top: 5px solid rgb(78, 79, 183);
    position: absolute;
    top:50%;
    left: 50%;
    animation:spin 1s ease-in infinite;
    display: none;

    
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.showloader{
    display: block;
    
}