#main{
    border : 2px solid black;
    height: 150px;
    width : 300px;
    border-radius : 15px;
}

#btncont{
    margin : 0px 50px;
    
    
}
button{
    height : 60px;
    width :60px;
    border-radius: 50%;

}
#msg{
    height : 50px;
    width : 300px;
    border : 2px solid rgb(12, 11, 11);
    position: relative;
    top : 50px;
    border-radius : 15px;
    background-color: red;
    color: whitesmoke;
    
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#result{
    font-size: 30px;
    

}
h3{
    font-family: sans-serif;
    color: black;
}
#final{
    border: 1.5px solid black;
    background-color: antiquewhite;
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;

}