button{
    height : 40px;
    width : 40px;
    font-weight: 500;
    margin : 10px;
    font-size: 30px;
    background-color: rgb(32, 31, 31);
    color: aliceblue;

}
#btncontainer{
    margin : 10px 23px;
    


}
#main{
    border : 2px solid black;
    height : 450px;
    width : 250px;
    border-radius: 21px;
    background-color: rgb(150, 128, 170);
    
}
#display{
    height : 50px;
    width : 200px;
    border :2px solid black;
    margin : 10px 23px;
    font-weight: 500;
    font-size: 30px;
    text-align: right;
    
    background-color: black ;
    color: rgb(240, 248, 255);


}
#equal{
    width : 140px;

}