html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    padding: 0;

}
html,body{
    height: 100%;

}
:root{
    --bg-primary-color:#0c0c0c;
    --bg-fill-color : #fdfdfc;
    --bg-food-color : #ff3b3b;


    --text-primary-color:#f0f0f0;
    --space-xs:4px;
    --space-s:8px;
    --space-m:16px;
    --space-l:24px;
    --space-xl:32px;
    --space-2xl:40px;
    --space-3xl:48px;


    --border-primary-color:#333333;

    --border-radius-xs:4px;
    --border-radius-s:8px;
    --border-radius-m:12px;
    --border-radius-l:16px;
    --border-radius-xl:20px;


}
main,section{
    width: 100%;
    height: 100%;
}
section{
    padding: var(--space-2xl);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}
.score{
    border : 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-s);
    padding: var(--space-s);
   
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.scoreboard{
    display: flex;
    justify-content: space-evenly;
    
}
.board{
    border : 1px solid var(--border-primary-color);
    flex-grow: 1;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(30px ,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr)) ;

    
    
}
.blocks{
    width:30px;
    height:30px;
    border:1px solid var(--border-primary-color);
   
  

}
.fill{
    background-color: var(--bg-fill-color);
    /* border-radius: 50%; */

}
.food{
    background-color: var(--bg-food-color);
    /* border-radius: 50%; */
}

.start{
    display:flex;
    flex-direction: column;
    gap : var(--space-m);
    align-items: center;
    
    
   

}
.restart{
    display:flex;
    flex-direction: column;
    gap : var(--space-m);
    align-items: center;
    
    
   

}
.modal{
     height: 100vh;
    width:100vw;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    position: fixed;
    top :0;
    display: flex;
    justify-content: center;
    align-items: center;


}
.start-btn{
    border:none;
    padding : var(--space-s) var(--space-m);
    border-radius: var(--border-radius-s);
    font-size: large;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.start-btn:hover{
    transform: scale(1.1);
}
.restart-btn{
    border:none;
    padding : var(--space-s) var(--space-m);
    border-radius: var(--border-radius-s);
    font-size: large;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.restart-btn:hover{
    transform: scale(1.1);
}
.restart-modal{
    height: 100vh;
    width:100vw;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    position: fixed;
    top :0;
    display: none;
    justify-content: center;
    align-items: center;

}